.git
.gitignore
.env.example
.env.testing
.editorconfig
.DS_Store
node_modules
npm-debug.log
yarn-error.log
storage
bootstrap/cache
.vscode
.idea
.phpunit.result.cache
coverage
*.log
auth.json
public/storage
resources/apps/*/node_modules
