node_modules
npm-debug.log
yarn-error.log
.npm
.eslintcache
.svelte-kit
.vite
dist
build
.DS_Store
.git
.gitignore
README.md
.env.example
bun.lockb
package-lock.json
tests
.vscode
.idea
playwright.config.js
vitest.config.js
